.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.play {
  color: white;
  background-color: green;
  width: 100px;
  height: 40px;
  border-radius: 15%;
  margin-bottom: 0;
  
}

.reset {
  color: white;
  background-color: red;
  width: 100px;
  height: 40px;
  border-radius: 15%;
  margin-bottom: 0;
  
}

h2 {
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
}